body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.arkaplan {
	position: fixed;
	width: 100%;
	height:100%;
	background: url(../images/guangzhou1.jpg) center center no-repeat;
	transform: scale(1);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ornek {
	position: relative;
	background-color:#8B4789;
	left: 0;
	right: 0;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 60px 40px;
}

.ornek h1 {
	color: #3498db;
}

.ornek p {
	color: #34495e;
}